@import url("./vars.css");

.analytics-consent-dialog {
  font-family: var(--text-font-family);
  background-color: lightgreen;
  border: solid;
  border-width: thin;
  border-radius: 0.5em;
  padding: 0.5em;
  box-sizing: border-box;
}

.analytics-consent-dialog-minimal {
  font-family: var(--text-font-family);
  padding: 0.25em 0;
  text-align: center;
}

.analytics-consent-dialog h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.analytics-consent-dialog p {
  margin: 0.5em 0;
}

button + button {
  margin-left: 0.5em;
}
