@import url("./vars.css");

.card-label {
  font-family: var(--card-font-family);
}

.ten {
  display: inline-block;
  transform: scaleX(0.5);
  margin-left: -0.3em;
  margin-right: -0.2em;
}

.red-suit {
  color: #c41e3a; /* A standard deep red for cards */
}

.black-suit {
  color: #222; /* Almost black */
}
