@import url("./vars.css");

:root {
  --card-width: 0.562em;
}

.hand-card {
  display: block;
  padding: 0.16em 0.21em 0.17em 0.29em;
  border: var(--card-border);
  background-color: var(--card-background-color);
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0.4em;
  font-weight: bold;
  font-size: 7.9vw;
  text-align: center;
  width: var(--card-width);
  position: relative;
  user-select: none;
  font-family: var(--card-font-family);
  border-width: var(--clickable-border-width);
  border-radius: var(--clickable-border-radius);
}

.hand-card input[type="checkbox"] {
  position: absolute;
  bottom: -0.1em;
  right: -0.1em;
}

@media (orientation: portrait) {
  .hand-card {
    font-size: 12.6vw;
  }

  .hand-card input[type="checkbox"] {
    width: 3vw;
  }
}

@media (orientation: landscape) {
  .hand-card {
    font-size: 5.8vw;
  }

  .hand-card input[type="checkbox"] {
    width: 1.5vw;
  }
}

.discarded {
  background-color: #ababab;
  border-color: #616161;
  color: #5c5c5c;
  margin-top: 0.4em;
  margin-bottom: 0;
}
