@import url("./vars.css");

.figure {
  margin: 0;
}

.figcaption {
  color: var(--text-color);
  font-family: var(--text-font-family);
}

.hand {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
