@import url("./vars.css");

.interactive-hand {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
}
