@import url("./vars.css");

.scored-possible-keep-discard {
  color: var(--text-color);
  font-family: var(--text-font-family);
  min-height: 44px;
  transition: background-color var(--transition-duration)
    var(--transition-timing);
}

.scored-possible-keep-discard td {
  padding: 2px 1px;
  border-bottom: 1px solid rgb(255 255 255 / 10%);
  text-align: right;
  vertical-align: middle;
  line-height: 1.15;
  white-space: nowrap;
}

.expanded-row td {
  padding: 6px 10px;
  border-bottom: 1px solid rgb(255 255 255 / 20%);
  background-color: rgb(0 0 0 / 20%);
  white-space: normal;
}

.scored-possible-keep-discard td:first-child {
  text-align: left;
  white-space: nowrap;
}

.scored-possible-keep-discard td:nth-child(3) {
  padding-right: 0.5em;
}

.highlighted {
  /* !important is needed to override the specificity of the nth-child row striping in the parent component */
  background-color: rgb(255 255 255 / 35%) !important;
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 20%);
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: rgb(255 255 255 / 15%);
}

.expand-indicator {
  display: inline-block;
  padding-left: 8px;
  padding-right: 4px;
  opacity: 0.7;
  font-size: 0.9em;
  transition: transform var(--transition-duration) var(--transition-timing);
}

.expand-indicator-expanded {
  transform: rotate(90deg);
}

.expanded-row {
  cursor: pointer;
}

@media (orientation: landscape) {
  .expanded-row {
    font-size: calc(var(--medium-text-font-size-landscape) * 0.6);
  }
}

@media (orientation: portrait) {
  .expanded-row {
    font-size: calc(var(--medium-text-font-size-portrait) * 0.6);
  }
}

.breakdown-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

@media (orientation: landscape) {
  .scored-possible-keep-discard {
    font-size: var(--medium-text-font-size-landscape);
  }
}

@media (orientation: portrait) {
  .scored-possible-keep-discard {
    font-size: var(--medium-text-font-size-portrait);
  }
}
