@import url("./vars.css");

.scored-possible-keep-discards {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: var(--text-font-family);
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}

.scored-possible-keep-discards figcaption {
  flex-shrink: 0;
  font-weight: bold;
}

.table-header {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 5px 0;
  font-weight: bold;
  border-bottom: 2px solid var(--text-color);
  flex-shrink: 0;
}

.keep-header,
.discard-header,
.points-header {
  text-align: left;
}

.points-header {
  text-align: right;
}

.scored-possible-keep-discards ul {
  padding-left: 0;
  margin: 0;
  overflow-y: auto;
  flex-grow: 1;
}

@media (orientation: portrait) {
  .scored-possible-keep-discards figcaption {
    font-size: var(--medium-text-font-size-portrait);
  }

  .table-header {
    font-size: var(--small-text-font-size-portrait);
  }
}

@media (orientation: landscape) {
  .scored-possible-keep-discards figcaption {
    font-size: var(--medium-text-font-size-landscape);
  }

  .table-header {
    font-size: var(--small-text-font-size-landscape);
  }
}
