@import url("./vars.css");

.scored-possible-keep-discards {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: var(--text-font-family);
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}

.scored-possible-keep-discards figcaption {
  flex-shrink: 0;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  column-gap: 1em;
  row-gap: 0.5em;
  overflow-y: auto;
  overflow-x: auto; /* Allow horizontal scrolling */
  flex-grow: 1;
  padding-bottom: 1em;
  align-items: center;
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--main-bg-color);
  font-weight: bold;
  z-index: 1;
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 0.2em;
  text-align: left;
}

.numeric {
  text-align: right;
}

@media (orientation: portrait) {
  .scored-possible-keep-discards figcaption {
    font-size: var(--medium-text-font-size-portrait);
  }
  .grid {
    font-size: var(--medium-text-font-size-portrait);
  }
}

@media (orientation: landscape) {
  .scored-possible-keep-discards figcaption {
    font-size: var(--medium-text-font-size-landscape);
  }
  .grid {
    font-size: var(--medium-text-font-size-landscape);
  }
}
