@import url("./vars.css");

.scored-possible-keep-discards {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: var(--text-font-family);
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}

.scored-possible-keep-discards figcaption {
  flex-shrink: 0;
  font-weight: bold;
}

.table-container {
  padding-left: 0;
  margin: 0;
  overflow: auto;
  flex-grow: 1;
}

.scored-possible-keep-discards table {
  width: 100%;
  border-collapse: collapse;
}

.scored-possible-keep-discards th {
  position: sticky;
  top: 0;
  background-color: green;
  z-index: 1;
  text-align: right;
  padding: 5px;
}

.scored-possible-keep-discards th:first-child {
  text-align: left;
}

@media (orientation: portrait) {
  .scored-possible-keep-discards figcaption {
    font-size: var(--medium-text-font-size-portrait);
  }
}

@media (orientation: landscape) {
  .scored-possible-keep-discards figcaption {
    font-size: var(--medium-text-font-size-landscape);
  }
}

.legend {
  font-size: 0.8em;
  text-align: center;
  padding: 0 5px;
  opacity: 0.9;
}
