@import url("./vars.css");

.scored-possible-keep-discard {
  color: var(--text-color);
  font-family: var(--text-font-family);
  min-height: 44px;
  transition: background-color var(--transition-duration)
    var(--transition-timing);
}

.scored-possible-keep-discard td {
  padding: 2px 1px;
  border-bottom: 1px solid rgb(255 255 255 / 10%);
  text-align: right;
  vertical-align: middle;
  line-height: 1.15;
}

.scored-possible-keep-discard td:first-child {
  text-align: left;
  white-space: nowrap;
}

.highlighted {
  /* !important is needed to override the specificity of the nth-child row striping in the parent component */
  background-color: rgb(255 255 255 / 35%) !important;
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 20%);
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: rgb(255 255 255 / 15%);
}

.expandedRow {
  cursor: pointer;
}

.expandedRow td {
  padding: 8px 12px;
  border-bottom: 1px solid rgb(255 255 255 / 20%);
  background-color: rgb(0 0 0 / 20%);
}

.breakdownContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.breakdownItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breakdownLabel {
  color: rgb(255 255 255 / 70%);
}

.breakdownValue {
  font-weight: bold;
  color: var(--text-color);
}

@media (orientation: landscape) {
  .scored-possible-keep-discard {
    font-size: var(--medium-text-font-size-landscape);
  }
}

@media (orientation: portrait) {
  .scored-possible-keep-discard {
    font-size: var(--medium-text-font-size-portrait);
  }
}
