@import url("./vars.css");

.scored-possible-keep-discard {
  color: var(--text-color);
  font-family: var(--text-font-family);
}

.scored-possible-keep-discard td {
  padding: 5px;
  border-bottom: 1px solid rgb(255 255 255 / 10%);
  text-align: right;
}

.scored-possible-keep-discard td:first-child {
  text-align: left;
  white-space: nowrap;
}

@media (orientation: landscape) {
  .scored-possible-keep-discard {
    font-size: var(--medium-text-font-size-landscape);
  }
}

@media (orientation: portrait) {
  .scored-possible-keep-discard {
    font-size: var(--medium-text-font-size-portrait);
  }
}
