@import url("./vars.css");

.scored-possible-keep-discards {
  margin: 0 0 0 0.5em;
  color: var(--text-color);
  font-family: var(--text-font-family);
}

.scored-possible-keep-discards ul {
  padding-left: 0;
}
