@import url("./vars.css");

.scored-possible-keep-discards {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: var(--text-font-family);
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}

.scored-possible-keep-discards figcaption {
  flex-shrink: 0;
  font-weight: bold;
}

.table-container {
  padding-left: 0;
  margin: 0;
  overflow: auto;
  flex-grow: 1;
  max-width: 100%;
}

.scored-possible-keep-discards table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.scored-possible-keep-discards tbody tr.odd-row {
  background-color: transparent;
}

.scored-possible-keep-discards tbody tr.even-row {
  background-color: rgb(255 255 255 / 4%);
}

.scored-possible-keep-discards th {
  position: sticky;
  top: 0;
  background-color: green;
  z-index: 1;
  text-align: right;
  padding: 5px;
  vertical-align: middle;
}

.scored-possible-keep-discards th:first-child {
  width: 40%;
  text-align: left;
}

.scored-possible-keep-discards th:nth-child(n + 2) {
  width: 20%;
}

.scored-possible-keep-discards th:nth-child(3) {
  padding-right: 0.5em;
}

@media (orientation: portrait) {
  .scored-possible-keep-discards th:nth-child(3) {
    padding-left: 0.5em;
  }
}

.header-stack {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1.1;
  gap: 0;
}

.header-stack-start {
  align-items: flex-start;
}

.header-main {
  font-weight: 700;
  font-size: 1em;
}

.header-unit {
  font-size: 0.55em;
  opacity: 0.65;
  margin-top: 2px;
}

@media (orientation: portrait) {
  .scored-possible-keep-discards figcaption {
    font-size: var(--medium-text-font-size-portrait);
  }

  .scored-possible-keep-discards th {
    font-size: var(--medium-text-font-size-portrait);
  }
}

@media (orientation: landscape) {
  .scored-possible-keep-discards figcaption {
    font-size: var(--medium-text-font-size-landscape);
  }

  .scored-possible-keep-discards th {
    font-size: var(--medium-text-font-size-landscape);
  }
}
