@import url("./vars.css");

.scored-possible-keep-discard {
  color: var(--text-color);
  font-family: var(--text-font-family);
  display: contents;
}

.hand {
  display: inline-flex;
  align-items: center;
}

.preCut,
.fromCut,
.total {
  text-align: right;
}

@media (orientation: landscape) {
  .scored-possible-keep-discard {
    font-size: var(--medium-text-font-size-landscape);
  }
}

@media (orientation: portrait) {
  .scored-possible-keep-discard {
    font-size: var(--medium-text-font-size-portrait);
  }
}
