@import url("./vars.css");

.sort-order-input {
  border: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  color: var(--text-color);
  font-family: var(--text-font-family);
  user-select: none;
  display: flex;
  align-items: center;
}

.legend {
  display: contents;
  font-weight: bold;
}

.sort-order-input span {
  flex: 1;
  display: flex;
}

.input {
  appearance: none;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid var(--clickable-border-width) black;
  color: var(--text-color);
  border-radius: 8px;
  transition:
    background-color var(--transition-duration) var(--transition-timing),
    box-shadow var(--transition-duration) var(--transition-timing);
  box-sizing: border-box;
  width: 1.9em;
  height: 2.06em;
  text-align: center;
  cursor: pointer;
}

.label:hover {
  background-color: #5fa7d7;
  box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
  transform: scale(1.05);
}

.input[type="radio"]:checked + label {
  background: #81c784;
  box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
}

@media (orientation: portrait) {
  .label {
    font-size: calc(var(--medium-text-font-size-portrait) * 0.8);
  }

  .legend {
    font-size: var(--medium-text-font-size-portrait);
  }
}

@media (orientation: landscape) {
  .label {
    font-size: calc(var(--medium-text-font-size-landscape));
  }

  .legend {
    font-size: var(--medium-text-font-size-landscape);
  }
}
