@import url("./vars.css");

.fieldset {
  margin-bottom: 0.9em;
  border: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  color: var(--text-color);
  font-family: var(--text-font-family);
  user-select: none;
}

.legend {
  display: contents;
}

.legend::after {
  content: ":";
}

.input {
  appearance: none;
}

.label {
  border: solid;
  color: lightgray;
  border-color: black;
  padding: 0.2em;
  border-width: var(--clickable-border-width);
  border-radius: var(--clickable-border-radius);
}

.input[type="radio"]:checked + label {
  background: lightgreen;
}

.description::before {
  content: "(";
}

.description {
  color: #ddd;
  padding-left: 0.25em;
}

.description::after {
  content: ")";
}
