:root {
  --text-color: #eee;
  --text-font-family: sans-serif;
  --card-font-family: "Anonymous Pro", "Courier New", courier, monospace;
  --clickable-border-width: thin;
  --clickable-border-radius: 0.12em;
  --card-border: 0.025em solid #c0c0c0;
  --card-background-color: white;
  --small-text-font-size-landscape: 2.3vw;
  --small-text-font-size-portrait: 5.8vw;
  --medium-text-font-size-landscape: 2.3vw;
  --medium-text-font-size-portrait: 5.65vw;
  --transition-duration: 0.3s;
  --transition-timing: ease;
}
