@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: green;
  overflow-x: hidden;
}

#trainer {
  min-height: 100%;
  width: 100%;
}
